.cards-container{
    position: relative;
    top: 110px;


}


.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    width: 300px;
    border-radius: 5px;
    text-align: center;

}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 10px 16px;


}

.container h4{
    margin: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


input[type ='image'] {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    width: 100px;
    height: 100px;
    
}